
.main-container{
    margin-left:10%;
    margin-right:10%;

}

.header-row{
    display:flex;
}

.header-column{
    padding: 0.5rem 1rem 0.5rem 1rem;
    width:40%;
}

#left-heading{
    font-size: 1.5rem;
    margin-left:10%;
}

#description{
    width:fit-content;
    display: flex;
}

.team-gallery{
    display: flex;   
    /* border:2px solid red; */
    flex-direction:row;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    
   
}

.team-image{   
  /* border:1px solid black; */
  
  flex-direction:column; 
  width:450px;
  height:fit-content;
  flex-wrap: wrap;
  
}

.image-with-role{
    /* grid-template-areas:"img span";
    display:inline-grid;
    grid-template-columns:80% 20%;
    grid-template-rows: 320px;
     */
    
    display:flex;
    flex-direction: row;
    

}

.image-with-role > img{
 
 width:35%;
 height:35%;
 
 
   
   
}

.image-with-role span{
/* border: 2px solid blue; */
justify-content:stretch;
text-transform: uppercase;
writing-mode:vertical-lr;
transform: rotate(0deg);
transform-origin:top;
padding-left: 0.5rem;
padding-right:0.5rem;
}

.name{
   
    /* border:2px solid purple; */
    width:fit-content;
}

